#logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

